html, body {
  height: 100%; }

h1, h2, h3, p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

#triangleTop, #triangle {
  display: none; }

#top-logo-page-text {
  position: absolute;
  opacity: 1;
  z-index: 2000;
  margin: 37% 47%;
  font-size: 2em;
  color: #fff;
  font-weight: lighter;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  background-color: #576366;
  border-radius: .2em .2em;
  padding: 0px 0.1em; }

svg {
  fill: #c0c1c3; }

.site {
  height: 100%;
  position: relative;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out; }

.threeD {
  -webkit-perspective: 10000em;
  -webkit-transition: all .07s linear;
  -moz-perspective: 60000em;
  -moz-transition: all .07s linear;
  position: relative;
  height: 100%;
  width: 100%; }

.threedbox {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -ms-transform: translateZ(-25px);
  -ms-transition: all .5s ease-out;
  -ms-transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -webkit-transition: all .5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform: translateZ(-25px);
  -moz-transition: all .5s ease-out;
  -moz-transform-style: preserve-3d; }

.threedbox-open-menu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-transform: rotateX(90deg) translateZ(0px);
  -webkit-transition: all .5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateX(90deg) translateZ(0px);
  -moz-transition: all .5s ease-out;
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateX(90deg) translateZ(0px); }

#site-nav {
  height: 61px;
  width: 100%;
  position: fixed;
  z-index: 100;
  -webkit-transition-delay: .50s;
          transition-delay: .50s; }
  #site-nav #front {
    height: 61px;
    background: transparent;
    -ms-transform: rotateX(0deg) translateZ(25px);
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -moz-transform: rotateX(0deg) translateZ(25px);
    -webkit-transition-delay: .50s;
            transition-delay: .50s; }
    #site-nav #front #codicated-c {
      height: 80%;
      margin: .4em .2em;
      -webkit-transition: all .4s ease-in-out;
      opacity: 0; }
  #site-nav #back {
    height: 61px;
    background: #7ed0e3;
    -webkit-transform: rotateX(-90deg) translateZ(31px);
    -moz-transform: rotateX(-90deg) translateZ(31px);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.nav-line-container {
  float: right;
  padding: .8em; }
  .nav-line-container .navLine {
    width: 2.8em;
    height: 4px;
    border-radius: 1em;
    margin-bottom: .6em;
    background-color: #000;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3); }
  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05); }
  70% {
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9); }
  100% {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.nav-bar-bg {
  height: 100%;
  background: url(../img/header-new.svg);
  background-size: cover; }

#fullpage {
  height: 100%; }

div#imageMorph.section.fp-section.fp-table.active {
  margin-top: 0; }

#imageMorph {
  height: 100%; }

.codicated-big-logo {
  display: block;
  width: 80%;
  margin: 10% auto; }

#ct {
  display: none; }

#ieNine #ct {
  display: block;
  margin: auto;
  padding: 60px;
  top: 0;
  -webkit-animation: linear bounceIn 1s;
  -webkit-transition: all .01s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  background: #FFF;
  position: relative; }

#ieNine .iconId {
  display: none; }

#ieNine .nav-after-logo-animation {
  max-height: 0; }

.iconId {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: #FFF;
  margin: auto;
  padding: 60px;
  top: 0;
  position: relative;
  max-height: 100%;
  -webkit-animation: linear bounceIn 1s;
  -webkit-transition: all .01s ease-in-out;
  -moz-animation: linear bounceIn 1s;
  -moz-transition: all .01s ease-in-out;
  -ms-transition: all .01s ease-in-out; }

.nav-after-logo-animation {
  padding: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-height: 3.8em;
  text-align: center;
  background: #FFF;
  position: relative;
  top: 54.8%;
  -webkit-transition: all 2.7s ease-in-out;
  -moz-transition: all 2.7s ease-in-out;
  -ms-transition: all 2.7s ease-in-out; }

.nav-after-class-toggle {
  padding: 0;
  position: fixed;
  margin-top: -35%;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out; }

@media only screen and (min-device-width: 1600px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #site-nav, #site-nav #front {
    -webkit-transition-delay: .2s;
            transition-delay: .2s; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #site-nav, #site-nav #front {
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }

  #top-logo-page-text {
    margin: 3% 70%;
    font-size: 1.8em; } }
@media screen and (max-width: 600px) {
  #top-logo-page-text {
    font-size: 1em;
    right: 0;
    left: 0;
    width: 6em;
    text-align: center;
    margin: auto;
    bottom: 25%; }

  #site-nav #front {
    -webkit-transition-delay: .0s;
            transition-delay: .0s; }

  .nav-line-container .navLine {
    -webkit-transition: all .0s ease-in-out;
    transition: all .0s ease-in-out; }

  #site-nav #front #codicated-c {
    -webkit-transition: all .0s ease-in-out;
    transition: all .0s ease-in-out; }

  #triangleTop {
    border-right: 0.5em solid #29b2d1;
    border-bottom: 0.5em solid #29b2d1;
    width: 1.5em;
    height: 1.5em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16%;
    opacity: .9;
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out; } }
#ieNine .threedbox-open-menu {
  -ms-transform: rotateX(0) translateZ(0px); }

#ieNine .ieBack {
  -ms-transform: rotateX(90deg) translateZ(31px); }

#ieNine .ieBackopen {
  -ms-transform: rotateX(0) translateZ(0); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .threedbox-open-menu {
    -ms-transform: rotateX(0) translateZ(0px); }

  .ieBack {
    -ms-transform: rotateX(90deg) translateZ(31px); }

  .ieBackopen {
    -ms-transform: rotateX(0) translateZ(0); } }
.ul-nav {
  display: inline-block;
  overflow: hidden;
  background: #7ed0e3;
  padding: 0px 5px 0 0;
  margin: 0;
  height: 100%; }

.ul-nav li {
  display: inline-block; }

.ul-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: uppercase;
  overflow: visible;
  line-height: 30px;
  font-size: 20px;
  padding: 16px 10px; }

.three-d {
  -webkit-perspective: 400px;
  perspective: 400px;
  -webkit-transition: all .07s linear;
  transition: all .07s linear;
  position: relative; }

a.three-d.last-menu-item {
  padding: 16px 17px; }

.three-d:not(.active):hover .three-d-box,
.three-d:not(.active):focus .three-d-box {
  -webkit-transform: translateZ(-25px) rotateX(90deg);
  transform: translateZ(-25px) rotateX(90deg); }

.three-d-box {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translatez(-25px);
  -ms-transform: translatez(-25px);
      transform: translatez(-25px);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none; }

.three-d-box, .front-li, .back-li {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; }

.front-li {
  background: #29b2d1;
  -webkit-transform: rotatex(0deg) translatez(31px);
  -ms-transform: rotatex(0deg) translatez(31px);
      transform: rotatex(0deg) translatez(31px); }

.back-li {
  background: #208ea7;
  -webkit-transform: rotatex(-90deg) translatez(25px);
  -ms-transform: rotatex(-90deg) translatez(25px);
      transform: rotatex(-90deg) translatez(25px);
  color: #ffe6b3; }

.front-li, .back-li {
  padding: 15px 10px;
  pointer-events: none;
  box-sizing: border-box; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front-li {
    display: none; }

  .ul-nav-back a:hover {
    background-color: #29b2d1; } }
.statementWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 3.8em; }

.mission-statement {
  background-color: #f46c6c;
  display: inline-block;
  float: left;
  width: 60%;
  height: 100%;
  position: relative;
  -webkit-transition: all .9s ease-in-out;
  -ms-transition: all .9s ease-in-out; }
  .mission-statement #small-logo {
    width: 40%;
    margin: 4em 4em 4em -100%;
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out; }
  .mission-statement h1 {
    color: #fff;
    margin: .5em 2em; }

.responsive-web-dev {
  display: inline-block;
  background-color: #ffe6b3;
  width: 40%;
  height: 100%;
  text-align: center;
  color: #474747;
  position: relative;
  -webkit-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out; }
  .responsive-web-dev img {
    width: 85%;
    margin: 1em auto; }
  .responsive-web-dev #push-left-text {
    margin: 2.6em .5em .5em;
    right: -100%;
    position: relative;
    opacity: 0;
    -webkit-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out; }

.recent-projects {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  position: relative;
  top: 3.8em; }
  .recent-projects h2 {
    color: #576366;
    text-align: center;
    font-weight: bold;
    margin-top: 5em; }
  .recent-projects p {
    text-align: center;
    color: #576366; }
  .recent-projects .projects-block {
    text-align: center;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    padding: 0; }
  .recent-projects .projects {
    width: 25%;
    overflow-x: hidden;
    display: inline-block;
    margin: 2em 2em;
    background-color: #fff; }
    .recent-projects .projects .project-description {
      width: 100%;
      height: 100%;
      background-color: #ffe6b3;
      text-align: left; }
      .recent-projects .projects .project-description .project-title {
        padding: .6em 0 0 .6em;
        opacity: 0;
        margin: 0;
        color: #576366;
        position: relative;
        left: -100%;
        -webkit-transition: all 1.6s ease-in-out;
        -moz-transition: all 1.6s ease-in-out;
        -ms-transition: all 1.6s ease-in-out;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        font-weight: bold; }
      .recent-projects .projects .project-description .project-paragraph {
        margin: 0;
        padding: 0 .6em .6em;
        color: #576366;
        position: relative;
        left: -100%;
        opacity: 0;
        text-align: left;
        -webkit-transition: all 1.6s ease-in-out;
        -moz-transition: all 1.6s ease-in-out;
        -ms-transition: all 1.6s ease-in-out; }

.bcolor {
  background: #f2f2f2; }

/* Hover Transition */
.wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%; }

.wrapper:hover .overlay {
  right: 200px; }

.wrapper:hover .description {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5.5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Modern browsers */
  opacity: 1;
  transition: 1s ease-in;
  -webkit-transition: 1s ease-in; }

.wrapper .overlay {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: -100%;
  transition: .4s ease-out;
  -webkit-transition: .4s ease-out; }

.wrapper .overlay .rectangle,
.wrapper .overlay .arrow-left {
  position: absolute;
  top: 0; }

.wrapper .overlay .rectangle {
  display: block;
  margin-left: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95); }

.wrapper .overlay .arrow-left {
  position: relative;
  left: 0;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  border-bottom: 500px solid transparent;
  border-right: 200px solid rgba(255, 255, 255, 0.95); }

.wrapper .description {
  text-align: left;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #576366;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5.5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Modern browsers */
  opacity: 0;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out; }

.wrapper .description h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold; }

.wrapper .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 0; }

.wrapper img {
  vertical-align: bottom;
  width: 100%; }

@media screen and (max-width: 769px) {
  .recent-projects h2 {
    margin: 5.5em 0 0; }

  .recent-projects > p {
    text-align: center;
    margin: 0 .3em;
    display: none; }

  ul.projects-block {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }

  .recent-projects .projects {
    width: 75%;
    height: 25%;
    display: block;
    margin: .5em auto;
    background-color: #ffe6b3; }

  .wrapper {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left; }
    .wrapper .description {
      padding: 5px 30px; }

  .recent-projects .projects .project-description {
    width: 50%;
    font-size: 1.2em;
    text-align: center;
    display: inline-block; }
    .recent-projects .projects .project-description .project-title, .recent-projects .projects .project-description .project-paragraph {
      left: 0px;
      opacity: 1;
      text-align: center; }

  .recent-projects {
    top: 0; }

  .wrapper:hover .description {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    /* IE 5.5-7 */
    filter: alpha(opacity=1);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Modern browsers */
    opacity: 1;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #frontMS {
    width: 100%;
    height: 40%;
    background-color: #ffe6b3; }
    #frontMS #small-logo {
      display: none; }
    #frontMS h1 {
      margin: 10% 1em 30%; }

  #frontSW {
    background-color: #ffe6b3;
    width: 100%; }
    #frontSW #push-left-text {
      margin: .5em .5em .5em;
      right: -100%;
      opacity: 0;
      font-size: 2em; } }
@media screen and (max-width: 600px) {
  .mission-statement {
    background-color: #f46c6c;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    float: left;
    height: 30%;
    position: relative;
    width: 100%;
    z-index: -100; }

  #frontMS {
    background-color: #ffe6b3; }

  .mission-statement #small-logo {
    margin: 1em;
    width: 25%;
    display: none; }

  .mission-statement .missionTitle {
    color: #29b2d1;
    margin: 1em;
    text-align: center; }

  .responsive-web-dev {
    background-color: #ffe6b3;
    color: #474747;
    display: inline-block;
    height: 70%;
    text-align: center;
    width: 100%; }
    .responsive-web-dev h2 {
      font-size: 1.2em; }

  .responsive-web-dev #push-left-text {
    margin: 0.1em 0.5em 0.5em; }

  .recent-projects h2 {
    margin: 5.5em 0 0; }

  .recent-projects > p {
    text-align: left;
    margin: 0 .3em;
    display: none; }

  ul.projects-block {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; }

  .recent-projects .projects {
    width: 75%;
    display: block;
    margin: .5em auto;
    background-color: #ffe6b3; }

  .wrapper {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left; }

  .recent-projects .projects .project-description {
    width: 50%;
    font-size: 1em;
    text-align: left;
    display: inline-block; }
    .recent-projects .projects .project-description .project-title, .recent-projects .projects .project-description .project-paragraph {
      left: 0px;
      opacity: 1;
      text-align: left; }

  .recent-projects {
    top: 0; }

  .wrapper:hover .description {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5.5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Modern browsers */
    opacity: 0;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in; }

  .wrapper:hover .overlay {
    right: -200px; }

  .ul-nav-back {
    height: 70em;
    width: 74%; }

  #back .nav-line-container .navLine:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    margin-top: .9em; }

  #back .nav-line-container .navLine:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    margin-top: -.8em; }

  #back .nav-line-container .navLine:nth-child(3) {
    display: none; }

  .ul-nav-back li {
    display: block;
    border-bottom: 2px solid #fff; }

  #icon {
    display: none; }

  #ct {
    width: 80%;
    display: block;
    margin: 0 auto; }

  #site-nav {
    right: 0;
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out; } }
#serviceListId a {
  text-decoration: none;
  color: #576366; }

.wire-frame {
  background: url("../img/wire-frame-website-800x600.png");
  background-size: cover;
  width: 60%; }

.service-list-image {
  width: 50%;
  height: 100%;
  background: url("../img/wire-frame-blue-drawing-1159x780.jpg");
  background-size: cover;
  display: inline-block;
  float: left; }

.service-list-box {
  color: #576366;
  width: 50%;
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  margin: 10% 0; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .wire-frame {
    width: 100%; }

  .service-list-image {
    display: none; }

  #slist {
    background-color: #fff;
    border-radius: .5em;
    margin: 45% auto 0;
    width: 90%;
    display: block;
    border: 2px solid #ffe6b3;
    font-size: 1.7em; }

  .servicePbold {
    background-color: #ffe6b3;
    padding: 1em 2em;
    margin: 1em 5em;
    border-radius: .5em; }

  .spb {
    margin: 1em 2em; } }
@media screen and (max-width: 600px) {
  #serviceWF {
    display: none; }

  .service-list-image {
    width: 100%;
    height: 0%; }

  .service-list-box {
    width: 100%;
    margin: 20% 0;
    font-size: 1.1em; } }
.ipad-dev {
  background: url("../img/ipad-web-development.jpg");
  background-size: cover;
  width: 60%; }

.pageLogoContainer {
  width: 40%; }

.contact-list-image {
  width: 50%;
  height: 100%;
  background: url("../img/web-dev-for-iphone.jpg");
  background-size: cover;
  display: inline-block;
  float: left;
  background-position: center center; }

.remove-top {
  top: 0; }

.contactPs {
  text-align: center;
  font-size: 1.3em;
  color: #fff; }
  .contactPs a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0; }

.contactHOnes {
  text-align: center; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .ipad-dev {
    width: 100%; }

  #contactStatement #small-logo {
    display: block;
    width: 24%; }

  .mission-statement .contactHOnes {
    text-align: center;
    margin: 25% 4em 20%;
    border: 2px solid #fff;
    padding: .5em 1em;
    border-radius: 10px;
    font-size: 2.5em;
    z-index: 1000;
    position: absolute;
    background-color: #29b2d1; }

  .contactPs {
    font-size: 2em; }

  .contact-list-image {
    display: none; }

  #serviceListId {
    width: 90%;
    margin: 90% auto 0;
    font-size: 1.6em;
    display: block; } }
@media screen and (max-width: 600px) {
  .contact-list-image {
    display: none; }

  #contactStatement {
    height: 100%; }

  .mission-statement .contactHOnes {
    margin: 20% 1em 1em;
    font-size: 1.6em;
    font-weight: bold; }

  .mission-statement .contactPs {
    font-size: 1.2em; }

  .service-list-box .contactHtwo {
    font-size: 1.5em;
    margin: .67em 1em; }

  .service-list-box .contactPtwo {
    font-size: 1em;
    margin: 1em; }
    .service-list-box .contactPtwo a {
      color: #576366;
      text-decoration: none; }

  .phoneNum {
    background-color: #29b2d1;
    padding: 2%;
    margin: 0 10%;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.01), 0 4px 0 0 rgba(0, 0, 0, 0.02), 0 3px 0 0 rgba(0, 0, 0, 0.04), 0 2px 0 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.08), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 1px 0 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset; } }
.about-image {
  background: url("../img/web-design-company.jpg");
  background-size: cover;
  background-position: center center;
  width: 60%; }

.about-bottom-image {
  width: 50%;
  height: 100%;
  background: url("../img/web-design-1000x667.jpg");
  background-size: cover;
  display: inline-block;
  float: left;
  background-position: center center; }

.aboutP p {
  margin: 2% 7%;
  line-height: 1.5em; }

.about-title {
  font-size: 1.3em; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .mission-statement #small-logo {
    display: block;
    width: 80%; }

  #aboutLB {
    width: 95%;
    margin: 60% auto 0;
    font-size: 1.6em;
    display: block; }

  .about-image {
    width: 100%;
    height: 50%;
    display: inline-block; }

  .pageLogoContainer {
    height: 50%;
    width: 100%; }

  .about-bottom-image {
    width: 100%;
    height: 0%; }

  .service-list-box {
    width: 100%;
    margin: 20% 0;
    font-size: 1.1em; }

  .mission-statement h1 {
    margin: 1% 1em 30%;
    border: 2px solid #fff;
    padding: .5em;
    border-radius: 10px;
    font-size: 2.5em;
    z-index: 1000;
    position: absolute;
    background-color: #29b2d1; }

  #triangle {
    display: none; }

  @-webkit-keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-20px); }
    80% {
      -webkit-transform: translateY(-10px); } }
  #triangleTop {
    border-right: 0.5em solid #29b2d1;
    border-bottom: 0.5em solid #29b2d1;
    width: 1.5em;
    height: 1.5em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    opacity: .9;
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .service-list-box {
    font-size: .9em; }

  #top-logo-page-text {
    font-size: .9em; }

  #portfolioTitle {
    margin: 5% auto 0; } }
@media screen and (max-width: 600px) {
  .about-image {
    width: 100%;
    display: none; }

  .pageLogoContainer {
    height: 100%;
    width: 100%; }

  .about-bottom-image {
    width: 100%;
    height: 0%; }

  .service-list-box {
    width: 100%;
    margin: 20% auto 0;
    font-size: .9em; }

  .mission-statement h1 {
    margin: 50% 1em 30%; }

  #triangle {
    border-right: 0.5em solid rgba(255, 255, 255, 0.53);
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.53);
    width: 1.5em;
    height: 1.5em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22%; }

  @-webkit-keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-20px); }
    80% {
      -webkit-transform: translateY(-10px); } } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #uniquePortfolio {
    height: 19%; } }
#uniquePortfolio {
  z-index: 0; }

.portfolioBusinessLogoWrap {
  background-color: #fff; }

#portfolio-business-logo {
  width: 80%;
  display: block;
  margin: 1% auto; }

#portfolioTitle {
  color: #576366;
  margin: 20% auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0; }

#portfolioURL {
  text-align: center;
  margin-top: 0; }

#portfolioURL a {
  color: #576366;
  font-weight: bold;
  margin-top: .5em;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out; }

#portfolioURL a:hover {
  color: #fff; }

.portfolio-business-devices {
  background-color: #fff;
  width: 60%; }

#devicesIMG {
  width: 98%;
  margin-top: 10%; }

#portfolio-big-image-sunrise {
  width: 100%;
  background: url("../img/sunrise-screen.jpg");
  background-size: cover;
  background-position: center center; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #portfolioTitle {
    margin: 5% auto 0;
    border: none;
    padding: 0;
    border-radius: 0;
    font-size: 2.5em;
    z-index: 0;
    position: relative;
    background-color: transparent; }

  #sr #portfolio-business-logo {
    width: 40%; }

  #lc #portfolio-business-logo {
    width: 30%; }

  #pt #portfolio-business-logo {
    width: 50%; }

  #sm #portfolio-business-logo {
    width: 60%; } }
@media screen and (max-width: 768px) {
  #uniquePortfolio {
    height: 40%;
    width: 100%; }

  #portfolioURL {
    text-align: center;
    margin: 0 auto 1em; }

  .portfolio-business-devices {
    width: 100%; }

  #uniquePortfolioDeviceWrap {
    display: inline-block; } }
.portfolioRec {
  width: 100%; }

#portfolio-logo {
  margin: 5% auto;
  display: block;
  width: 40%; }

.full-project-list .projects {
  width: 15%;
  margin: 1em; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper .overlay, .wrapper .description {
    display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #portfolio-logo {
    margin: 15% auto 10%;
    display: block;
    width: 80%; }

  #portfolioMS h1 {
    margin: 1% 1em 30%;
    border: none;
    padding: .5em;
    border-radius: 10px;
    font-size: 2.5em;
    z-index: 1;
    position: relative;
    text-align: center;
    background-color: transparent; }

  .full-project-list .projects {
    width: 95%;
    margin: 1em;
    border: .2em solid #fff;
    border-radius: 1em; }

  .recent-projects .projects .project-description {
    font-size: 1.6em; }

  .recent-projects .projects {
    height: 8em; } }
@media screen and (max-width: 600px) {
  #portfolioTitle {
    margin: 10% auto 0; }

  #portfolio-logo {
    display: none; }

  #portfolioMS {
    height: 100%; }

  .mission-statement h1 {
    font-size: 1.2em; }

  .recent-projects h2 {
    margin: 5.5em 0 0; }

  .recent-projects > p {
    text-align: left;
    margin: 0 .3em;
    display: none; }

  ul.projects-block {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; }

  .recent-projects .projects {
    width: 75%;
    display: block;
    margin: .5em auto;
    background-color: #ffe6b3; }

  .wrapper {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left; }

  .recent-projects .projects .project-description {
    width: 50%;
    font-size: 1em;
    text-align: left;
    display: inline-block; }
    .recent-projects .projects .project-description .project-title, .recent-projects .projects .project-description .project-paragraph {
      left: 0px;
      opacity: 1;
      text-align: left; }

  .recent-projects {
    top: 0; }

  .wrapper:hover .description {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5.5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Modern browsers */
    opacity: 0;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in; }

  .wrapper:hover .overlay {
    right: -200px; }

  .ul-nav-back {
    height: 70em;
    width: 74%; }

  .hideImage {
    display: none; }

  #removeElement {
    display: none; } }
@media screen and (max-width: 600px) and (orientation: portrait) {
  #sr #portfolio-business-logo {
    width: 30%; }

  #lc #portfolio-business-logo {
    width: 25%; }

  #pt #portfolio-business-logo {
    width: 45%; }

  #sm #portfolio-business-logo {
    width: 55%; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #top-logo-page-text {
    margin: 40% 40%; }

  #small-logo {
    display: none; }

  .mission-statement h1 {
    margin: 1.5em 1em; }

  .recent-projects .projects {
    width: 25%;
    height: initial;
    display: inline-block;
    margin: 1em auto; }

  .recent-projects .projects .project-description {
    display: none; }

  .wrapper {
    width: 100%; }

  .pageLogoContainer {
    font-size: .8em; }

  .service-list-box {
    font-size: 1em; }

  #uniquePortfolio {
    height: 100%;
    width: 40%; }

  .portfolio-business-devices {
    width: 60%; }

  .bottomFooter {
    display: none; }

  #removeElement {
    display: none; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #small-logo {
    display: none; }

  .mission-statement h1 {
    margin: 1.5em 1em; }

  .responsive-web-dev #push-left-text {
    margin: 1em 0.5em 0em; }

  .recent-projects .projects {
    width: 25%;
    height: initial;
    display: inline-block;
    margin: 1em auto; }

  .recent-projects .projects .project-description {
    display: none; }

  #aboutLB {
    font-size: .9em; }

  .wrapper {
    width: 100%; }

  .pageLogoContainer {
    font-size: .9em; }

  .service-list-box {
    font-size: 1em; }
    .service-list-box a {
      text-decoration: none;
      color: #576366; }

  #uniquePortfolio {
    height: 100%;
    width: 40%; }

  .portfolio-business-devices {
    width: 60%; }

  .bottomFooter {
    display: none; }

  #removeElement {
    display: none; }

  #top-logo-page-text {
    display: none;
    font-size: 1em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .mission-statement, .responsive-web-dev {
    height: 100%;
    width: 50%; }

  #contactStatement .contactHOnes {
    margin: 5% 1em 1em; }

  .responsive-web-dev img {
    margin: 0 auto; }

  .recent-projects .projects {
    width: 25%;
    height: initial;
    display: inline-block;
    margin: 1em auto; }

  .recent-projects .projects .project-description {
    display: none; }

  .wrapper {
    width: 100%; }

  .recent-projects .projects .project-description {
    display: none; }

  #portfolioMS {
    width: 100%; }

  #aboutMS, #serviceMS {
    width: 100%; }
    #aboutMS h1, #serviceMS h1 {
      margin: 2em auto 0;
      text-align: center; }

  #triangle {
    bottom: 40%; }

  #slist {
    margin: 12% 0; }
    #slist p {
      margin: .6em; }

  .portfolio-business-devices {
    width: 60%; }

  .bottomFooter {
    display: none; }

  #top-logo-page-text {
    bottom: 35%;
    margin: auto; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #top-logo-page-text {
    font-size: .9em; }

  #portfolioURL {
    font-size: .7em;
    margin: 0 auto; }

  #portfolioTitle {
    margin: 5% auto 0; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #portfolioTitle {
    margin: 5% auto 0; } }
.footerColor {
  background: #ffe6b3; }

.footerSection {
  width: 100%;
  height: 100%;
  background: #ffe6b3;
  position: relative;
  top: 9.8em; }
  .footerSection ul {
    text-align: center;
    display: block;
    padding: 0;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #29b2d1; }
  .footerSection li {
    display: inline-block;
    text-align: center;
    width: 26%;
    height: 15%;
    margin: 0 auto; }
    .footerSection li p {
      font-size: 1.2em;
      color: #29b2d1; }
  .footerSection li:nth-child(2) {
    margin-right: .8em; }
  .footerSection a {
    text-decoration: none;
    color: #29b2d1;
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out; }
  .footerSection a:hover, .footerSection p:hover {
    color: #fff; }

.bottomFooter {
  background: transparent;
  position: absolute;
  bottom: 7.4em; }
  .bottomFooter img {
    width: 15%;
    margin: 1em 0 2% 2em; }
  .bottomFooter ul {
    float: right;
    margin-top: 6%;
    border-bottom: none; }
  .bottomFooter li {
    color: #fff;
    width: 20%; }

#services-icon, #about-us-icon, #phone-icon {
  width: 100%; }

@media screen and (max-width: 962px) {
  .footerSection ul {
    width: 60%; }

  .footerSection li {
    width: 27.7%; }

  .bottomFooter {
    bottom: 8.4em; }

  .bottomFooter img {
    width: 30%;
    margin: 0 auto;
    display: block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .footerSection ul {
    margin: 17em auto; }

  .footerSection li {
    width: 28.7%;
    height: 12%; }

  .bottomFooter {
    bottom: 18.4em; } }
@media screen and (max-width: 600px) {
  .footerSection ul {
    width: 90%; }

  .footerSection li {
    width: 27.7%; }

  .bottomFooter {
    bottom: 11.4em; }

  .bottomFooter img {
    width: 70%;
    margin: 0 auto;
    display: block; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footerSection {
    top: 5.5em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bottomFooter img {
    display: none; }

  .mission-statement h1 {
    margin: 30% 1em 30%; }

  .footerSection li p {
    font-size: .9em; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .footerSection li {
    height: auto;
    width: 27%; }

  .footerSection li:nth-child(2) {
    margin-right: 1em; }

  .footerSection li:nth-child(3) {
    margin-left: .7em; } }
