/////// Config /////////////////
html,body {
	width: 100%;
	height: 100%;
}


//Colors for site////////////////////////

//$codicated-primary-color: #c0c1c3;
$codicated-primary-color: #29b2d1;
$nav-back: #7ed0e3;

//$codicated-secondary-color: #222222;
$codicated-secondary-color: #f46c6c;

$codicated-grey: #474747;
$codicated-secondary-hover: $codicated-secondary-color + #fff;

$footer-contact-color: #c0c1c3;

//$codicated-white-color: #fafaf7;
$codicated-white-color: #ffe6b3; 

$codicated-small-page-logo: #4a4941;

$codicated-blue-color: #3366ff;

$reg-white: #fff;
$reg-black: #000;

//Fonts////////////////////////////
$main-font:'Roboto', sans-serif;


