/////// Config /////////////////
html,body {
	width: 100%;
	height: 100%;
}

//Colors for site////////////////////////

$codicated-primary-color: #c0c1c3;

$codicated-secondary-color: #222222;
$codicated-secondary-hover: $codicated-secondary-color -100;

$codicated-white-color: #fafaf7;

$codicated-small-page-logo: #ffcc33;

$codicated-blue-color: #3366ff;

$reg-white: #fff;
$reg-black: #000;
