h1, h2, h3, p {
  font-family: $main-font;
  font-weight: lighter;
}

svg {
	fill: #c0c1c3;
}

// .topMargin {
// 	position: relative;
// 	margin-top:5.1em;
// }
.site{
	height: 100%;
	position: relative;
	-webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
	
}

.threeD {
  //-webkit-perspective: 220em;
  -webkit-perspective: 6000em;
  -webkit-transition: all .07s linear;
  //-moz-perspective: 220em;
  -moz-perspective: 6000em;
  -moz-transition: all .07s linear;
  position: relative;
  height: 100%;
  width: 100%;
}

// .threedbox:hover {
//   -webkit-transform:  rotateX(90deg) translateZ(0px);
// }


.threedbox {
      // height:61px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      //background: #079391;
      -webkit-transform: translateZ(-25px);
      -webkit-transition: all .5s ease-out;
      -webkit-transform-style: preserve-3d;
      -moz-transform: translateZ(-25px);
      -moz-transition: all .5s ease-out;
      -moz-transform-style: preserve-3d;
    }

.threedbox-open-menu {
      // height:61px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      //background: #079391;
      -webkit-transform:  rotateX(90deg) translateZ(0px);
      -webkit-transition: all .5s ease-out;
      -webkit-transform-style: preserve-3d;
      -moz-transform:  rotateX(90deg) translateZ(0px);
      -moz-transition: all .5s ease-out;
      -moz-transform-style: preserve-3d;
    }
    
#site-nav {
	height: 61px;
	width: 100%;
	position: fixed;
	z-index: 100;
	
    transition-delay: .50s; // on way down workd good
    //-webkit-transition: all .4s ease-in-out;
	//-webkit-transition: all 1.5s ease-in-out;

  #front {
      height: 61px;
      background: transparent;
      -webkit-transform: rotateX(0deg) translateZ(25px);
      -moz-transform: rotateX(0deg) translateZ(25px);
      transition-delay: .50s;
    


    	#codicated-c{
    	height: 80%;
        margin: .4em .2em;
         -webkit-transition: all .4s ease-in-out;
         opacity: 0;
         //-webkit-animation: linear bounceIn 1s;
    	}
    }


    #back {
      height: 61px;
      background: $nav-back;
      -webkit-transform: rotateX(-90deg)translateZ(31px);
      -moz-transform: rotateX(-90deg)translateZ(31px);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transition-delay: .50s;
      //-webkit-transition: all .5s ease-out;
      //-webkit-transform-style: preserve-3d;
    }
}

.nav-line-container {
        float: right;
        padding: .8em;

        .navLine{
          width: 2.8em;
          height: 4px;
          border-radius: 1em;
          margin-bottom: .6em;
          background-color: #000;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;

        }
      }


@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
        -moz-transform: scale(.3);
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
        -moz-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
        -moz-transform: scale(.9);
    } 

    100% { 
         -webkit-transform: scale(1); 
         -moz-transform: scale(1);
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

div#site-nav:hover {
  //height:200px;
  //background-color: #222222;
  //-webkit-transform: rotateX(90deg); 
}

.nav-bar-bg {
	height: 100%;
	background: url(../img/header-new.svg);
	background-size: cover;
}

#fullpage {
  height: 100%;
}

div#imageMorph.section.fp-section.fp-table.active {
	margin-top: 0;
  //height: 100%;
}

#imageMorph {
  height: 100%;
}


.codicated-big-logo {
	display: block;
	width: 80%;
	margin: 10% auto;
}


.iconId {
  display: block;
  box-sizing: border-box;
  width:100%;
  // height:250px;
  background: #FFF;
  margin:auto;
  padding: 60px;
  top: 0;
  position: relative;
  max-height: 100%;
  -webkit-animation: linear bounceIn 1s;
  -webkit-transition: all .01s ease-in-out; 
  -moz-animation: linear bounceIn 1s;
  -moz-transition: all .01s ease-in-out; 
}

.rec-svg {
	//height: 3em;
}

.nav-after-logo-animation {
	padding: 0;
	// position:fixed;
	display: block;
  	box-sizing: border-box;
  	//width:110em;
  	width: 100%;
  	max-height: 3.8em;
  	text-align: center;
  	background: #FFF;
  	
  	position: relative;
  	//top: 22.5em;
  	top: 54.8%;
  	//top: 94.3%;
  	//top: 9.4%; //vertical align bottom
    // height: 100%;

	-webkit-transition: all 2.7s ease-in-out; 
  -moz-transition: all 2.7s ease-in-out; 

}

.nav-after-class-toggle {
	padding: 0;
	position:fixed;
	margin-top: -35%;
	-webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
}

// @media screen and (max-width: 600px) {

//   .back-nav-lines {
//       margin-top: -15.5em;
//   }

//   .ul-nav-back {
//         height: 15.6em;
//         width: 80%;
//   }

//   .ul-nav-back li {
//     display: block;
//   }
// }