#uniquePortfolio {
	z-index: 0;
}
.portfolioBusinessLogoWrap {
	background-color: #fff;
}

#portfolio-business-logo {
	width: 80%;
	display: block;
	margin: 1% auto;
}

#portfolioTitle {
	color: $codicated-small-page-logo;
	margin: 10% auto;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}

#portfolioURL {
	text-align: center;
	margin-top: 0;
}

#portfolioURL a{
	color: $codicated-small-page-logo;
	//text-align: center;
	font-weight: bold;
	margin-top: .5em;
	text-decoration: none;
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px 10px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}

#portfolioURL a:hover {
	color:rgba(87, 99, 102, 0.48);
}

.portfolio-business-devices {
	background-color: #fff;
	width: 60%;
}

#devicesIMG {
	width: 98%;
	margin-top: 10%;
}

#portfolio-big-image-sunrise {
	width: 100%;
	background: url('../img/sunrise-screen.jpg');
    background-size: cover;
	background-position: center center;

}

// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//     .service-list-box {
//       font-size: .9em;
//     }

//     #top-logo-page-text {
//       font-size: .9em;
//     }

//     #portfolioTitle {
//       margin: 5% auto 0;
//     }

//     #portfolioURL {
//       margin: 0 auto;
//     }
//   }

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

	#portfolioTitle {
			margin: 5% auto 0;
		    border: none;
		    padding: 0;
		    border-radius: 0;
		    font-size: 2.5em;
		    z-index: 0;
		    position: relative;
		    background-color: transparent;
		}
	//Individual logo sizes for portrait mode
	#sr #portfolio-business-logo {
		width: 40%;
	}
	#lc #portfolio-business-logo {
		width: 30%;
	}
	#pt #portfolio-business-logo {
		width: 50%;
	}
	#sm #portfolio-business-logo {
		width: 60%;
	}
}

 
@media screen and (max-width: 768px) {

	#uniquePortfolio {
		height: 40%;
		width: 100%;

	}

	#portfolioURL {
		text-align: center;
    	margin: 0 auto 1em;
	}

	.portfolio-business-devices {
		width: 100%;
	}

	#uniquePortfolioDeviceWrap {
		display: inline-block;
	}
}