
.portfolioBusinessLogoWrap {
	background-color: $light-grey;
}

#portfolio-business-logo {
	width: 80%;
	display: block;
	margin: 1% auto;
}

#portfolioTitle {
	color: $codicated-small-page-logo;
	margin: 20% auto;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}

#portfolioURL a{
	color: $codicated-small-page-logo;
	text-align: center;
	font-weight: bold;
	margin-top: 0;
	text-decoration: none;
	display: block;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}

#portfolioURL a:hover {
	color: #fff;
}

.portfolio-business-devices {
	background-color: #fff;
	width: 60%;
}

#devicesIMG {
	width: 98%;
	margin-top: 10%;
}

#portfolio-big-image-sunrise {
	width: 100%;
	background: url('../img/sunrise-screen.jpg');
    background-size: cover;
	background-position: center center;

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

	#portfolioTitle {
			margin: 10% auto 0;
		    border: none;
		    padding: 0;
		    border-radius: 0;
		    font-size: 2.5em;
		    z-index: 0;
		    position: relative;
		    background-color: transparent;
		}
}

 
@media screen and (max-width: 768px) {

	#uniquePortfolio {
		height: 40%;
		width: 100%;

	}

	#portfolioURL {
		text-align: center;
    	margin: 0 auto 1em;
	}

	.portfolio-business-devices {
		width: 100%;
	}

	#uniquePortfolioDeviceWrap {
		display: inline-block;
	}
}