.portfolioRec {
	width: 100%;
}

#portfolio-logo {
	margin: 5% auto;
	display: block;
	width: 40%;
}

.full-project-list .projects {
	width: 15%;
	margin: 1em;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .wrapper .overlay, .wrapper .description {
      display: none;
    }
  }

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #portfolio-logo {
    margin: 15% auto 10%;
    display: block;
    width: 80%;
    }

    #portfolioMS h1 {
    margin: 1% 1em 30%;
    border: none;
    padding: .5em;
    border-radius: 10px;
    font-size: 2.5em;
    z-index: 1;
    position: relative;
    text-align: center;
    background-color: transparent;
    }

    .full-project-list .projects {
      width: 95%;
      margin: 1em;
      border: .2em solid #fff;
      border-radius: 1em;
    }

    .recent-projects .projects .project-description {
        font-size: 1.6em;
    }

    .recent-projects .projects {
      height: 8em;
    }
}

@media screen and (max-width: 600px) {

  #portfolioTitle {
    margin: 10% auto 0;
  }

  // //Individual logo sizes for portrait mode
  // #sr #portfolio-business-logo {
  //   width: 30%;
  // }
  // #lc #portfolio-business-logo {
  //   width: 25%;
  // }
  // #pt #portfolio-business-logo {
  //   width: 45%;
  // }
  // #sm #portfolio-business-logo {
  //   width: 55%;
  // }

	#portfolio-logo {
		// margin: 30% auto 3%;
		// width: 70%;
    display: none;
	}

	#portfolioMS {
		height: 100%;
	}

	.mission-statement h1 {
		font-size: 1.2em;
	}

	//Recent Projects mobile CSS
  .recent-projects h2 {
    margin: 5.5em 0 0;
  }
  .recent-projects>p {
    text-align:left;
    margin:0 .3em;
    display: none;
  }


  ul.projects-block {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .recent-projects .projects {
    width: 75%;
    display:block;
    margin: .5em auto;
    background-color: #ffe6b3;
  }

  .wrapper{
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left;
  }

  .recent-projects .projects .project-description {
    width: 50%;
    font-size: 1em;
    text-align: left;
    display: inline-block;
      .project-title ,.project-paragraph{
        left: 0px;
        opacity: 1;
        text-align: left;
        
  }
  }

  .recent-projects {
    top: 0;
  }

 .wrapper:hover .description {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5.5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Modern browsers */
    opacity: 0;
 
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
  }

  .wrapper:hover .overlay {
    right: -200px;
  }

  //  .back-nav-lines {
  //     margin-top: -15.5em;
  // }

  .ul-nav-back {
        //height: 15.6em;
        height: 70em;

        //width: 79%;
        width: 74%;

  }

  .hideImage {
  	display: none;
  }

  #removeElement {
    display: none;
  }
}

@media screen and (max-width: 600px)
and (orientation: portrait) {
  //Individual logo sizes for portrait mode
  #sr #portfolio-business-logo {
    width: 30%;
  }
  #lc #portfolio-business-logo {
    width: 25%;
  }
  #pt #portfolio-business-logo {
    width: 45%;
  }
  #sm #portfolio-business-logo {
    width: 55%;
  }
}

//LANDSCAPE MOBILE CSS

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  
  #top-logo-page-text {
      margin: 40% 40%;
    }

  #small-logo {
      display: none;
  }

  .mission-statement h1 {
      margin: 1.5em 1em;
  }

  .recent-projects .projects {
      width: 25%;
      height: initial;
      display: inline-block;
      margin: 1em auto;
    }

    .recent-projects .projects .project-description {
      display: none;
    }

    .wrapper {
      width: 100%;

    }

    .pageLogoContainer {
      font-size: .8em;
    }

    .service-list-box {
      font-size: 1em;
    }

    //Individual Portfolio CSS 
      #uniquePortfolio {
         height: 100%;
         width: 40%;
      }

      .portfolio-business-devices {
        width: 60%;
      }

    .bottomFooter {
      display: none;
    }

    #removeElement {
      display: none;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    
      #small-logo {
        display: none;
    }

    .mission-statement h1 {
        margin: 1.5em 1em;
    }

    .responsive-web-dev #push-left-text {
        margin: 1em .5em 0em
    }

    .recent-projects .projects {
      width: 25%;
      height: initial;
      display: inline-block;
      margin: 1em auto;
    }

    .recent-projects .projects .project-description {
      display: none;
    }
    //About List CSS
    #aboutLB {
      font-size: .9em;
    }

    .wrapper {
      width: 100%;

    }

    .pageLogoContainer {
      font-size: .9em;
    }

    .service-list-box {
      font-size: 1em;
         a {
            text-decoration: none;
            color: $codicated-small-page-logo;
        }
    }

    //Individual Portfolio CSS 
      #uniquePortfolio {
         height: 100%;
         width: 40%;
      }

      .portfolio-business-devices {
        width: 60%;
      }

    .bottomFooter {
      display: none;
    }

    #removeElement {
      display: none;
    }

    #top-logo-page-text {
      display: none;
      font-size: 1em;
    }

  }

  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

    .mission-statement, .responsive-web-dev{
      height: 100%;
      width: 50%;
    }

    #contactStatement {
      //width: 100%;

        .contactHOnes {
          margin: 5% 1em 1em;
        }
    }

    .responsive-web-dev img {
      margin: 0 auto;
    }
  
    .recent-projects .projects {
      width: 25%;
      height: initial;
      display: inline-block;
      margin: 1em auto;
    }

    .recent-projects .projects .project-description {
      display: none;
    }

    .wrapper {
      width: 100%;

    }

    .recent-projects .projects .project-description {
      display: none;
    }


    //About Mission Statement & Service Mission statment CSS  & Portfolio MS
      #portfolioMS {
        width: 100%;
      }

      #aboutMS, #serviceMS, {
        width: 100%;

          h1 {
            margin: 2em auto 0;
            text-align: center;
          }
      }


      #triangle {
        bottom: 40%;
      }

    //Service List CSS 
      #slist {
        margin: 12% 0;

         p{
          margin: .6em;
         }
      }

    //Individual Portfolio CSS 
      .portfolio-business-devices {
        width: 60%;
      }
    .bottomFooter {
      display: none;
    }


    #top-logo-page-text {
      bottom: 35%;
      margin: auto;
    }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #top-logo-page-text {
      font-size: .9em;
    }

    #portfolioURL {
      font-size: .7em;
      margin: 0 auto;
    }

    #portfolioTitle {
    margin: 5% auto 0; 

  }
}

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
    // .pageLogoContainer{
    //   font-size: 1em;
    // }

    // #top-logo-page-text {
    //   margin: auto;
    // }

    #portfolioTitle {
    margin: 5% auto 0; 

  }


  }
